/* dvipdfmx.rc: version number				-*- C++ -*-

   Copyright (C) 1998-2003 Christian Schenk <cs@miktex.org>

   This file is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published
   by the Free Software Foundation; either version 2, or (at your
   option) any later version.

   This file is distributed in the hope that it will be useful, but
   WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
   General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this file; if not, write to the Free Software
   Foundation, 59 Temple Place - Suite 330, Boston, MA 02111-1307,
   USA. */

#include "dvipdfmx-version.h"

#define VER_INTERNALNAME_STR "cdi2pdf"
#define VER_ORIGINALFILENAME_STR "cdi2pdf.exe"

#define VER_LEGALCOPYRIGHT_STR "Copyright (C) 1998, 99 Mark Wicks. Copyright (C) 2002-2003 by Jin-Hwan Cho and Shunsaku Hirata,the DVIPDFMx project team <dvipdfmx@project.ktug.or.kr>. Copyright (C) Chey-Woei Tsay <cwtsay@pu.edu.tw>"

#define VER_FILEDESCRIPTION_STR "CDI-to-PDF Converter"

#include "miktex.version"
