#define VER_FILEDESCRIPTION_STR "General Purpose Index Processor"
#define VER_INTERNALNAME_STR "MakeIndex"
#define VER_ORIGINALFILENAME_STR "puidx.exe"
#define VER_FILEVERSION 1,3,1,0
#define VER_FILEVERSION_STR "1.03.001 (makeindex 2.12) (puidx 1.0)"
#define VER_LEGALCOPYRIGHT_STR "Copyright (C) 1989 Chen & Harrison \
International Systems, Inc. \
(C) 1988 Olivetti Research Center \
(C) 1987 Regents of the University of California"
#define VER_COMMENT_STR "This program is distributed with no warranty of any sort. \
No contributor accepts responsibility for the consequences of using this \
program or for whether it serves any particular purpose."
#include "miktex.version"
