/* putex.rc: PUTeX resources

   Copyright (C) 2001 Chey-Woei Tsay <cwtsay@pu.edu.tw>

   This file is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published
   by the Free Software Foundation; either version 2, or (at your
   option) any later version.

   This file is distributed in the hope that it will be useful, but
   WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
   General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this file; if not, write to the Free Software
   Foundation, 59 Temple Place - Suite 330, Boston, MA 02111-1307,
   USA. */

#include "../tex/tex-version.h"

#define VER_INTERNALNAME_STR "MiKTeX-putex-2"
#define VER_ORIGINALFILENAME_STR "MiKTeX-putex-2.dll"

#define VER_LEGALCOPYRIGHT_STR "Copyright (C) 1982 by D. E. Knuth; \
all rights are reserved."

#define VER_FILEDESCRIPTION_STR "PUTeX DLL"

#define VER_LEGALTRADEMARKS_STR "TeX is a trademark of the American \
Mathematical Society."

#ifdef RC_INVOKED
TeXIcon ICON putex.ico
#endif

#define VER_FILETYPE VFT_DLL

#include "miktex.version"
